.userHomeLayout {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 5% repeat(3, 20% 5%);
  grid-template-rows: 5% repeat(6, 13% 5%);
  align-items: center;
}

/*scss for menu*/

.userHomesideMenu {
  height: 100%;
  grid-column: 1 /2;
  grid-row: 1 / 14;
}

.userHomeServerName {
  margin: auto;
  grid-column: 2/10;
  grid-row: 2/3;
  h1 {
    color: #1a1a1a;
    transition: all ease 1s;
  }
  h1:hover {
    color: #30bf8b;
  }
}

.userHomeSegment {
  @include styled-object;
  background-color: #343a40;
  width: 100%;
  height: 100%;
}

/* scss for the Server tab */

.userHomeStatusOfServer {
  grid-column: 3/4;
  grid-row: 4/5;
  display: grid;
  grid-template-rows: 30% auto;
  span {
    font-weight: bold;
    font-size: 200%;
  }
  p {
    font-size: 150%;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#0398457 {
  background-color: #51cf66;
}

.suerhomeStartStopServer {
  grid-column: 5/6;
  grid-row: 4/5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  span {
    font-size: 20px;
    font-weight: bold;
  }
}

.userHomeLineBetweenStartStop {
  height: 20px;
  border-left: 1px rgba(0, 0, 0, 0.5) solid;
}

.userHomeIpAdress {
  grid-column: 7/8;
  grid-row: 4/5;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    @include green-hover;
  }
}

/* scss for the server config change menu */

.userHomeChangeConfig {
  grid-row: 6/11;
  grid-column: 5/8;
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
  grid-template-rows: 33% 33% 33%;
  justify-content: center;
  align-items: center;
}

.userHomeChangeDefaults {
  h2 {
    display: inline;
  }
  span {
    display: inline;
    font-size: 20px;
  }
}

.userHomeChangeServerName {
  grid-column: 2/3;
  grid-row: 1/2;
  input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 50%;
    outline: none;
  }
}

.userHomeChangeVersion {
  grid-column: 2/3;
  grid-row: 2/3;
  select {
    border: none;
    background-color: #fffafafa;
    outline: none;
    font-size: 15px;
  }
}

.userHomeChangeDifficulty {
  grid-column: 2/3;
  grid-row: 3/4;
  select {
    border: none;
    background-color: #fffafafa;
    outline: none;
    font-size: 15px;
  }
}

.userHomeChangeWhitelist {
  grid-column: 4/6;
  grid-row: 1/2;
  span {
    display: block;
  }
  input {
    outline: none;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    background-color: #fffafafa;
    font-size: 20px;
    width: 60%;
  }
}

.userHomeChangeOps {
  grid-column: 4/5;
  grid-row: 2/3;
  span {
    display: block;
  }
  input {
    outline: none;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    background-color: #fffafafa;
    font-size: 20px;
    width: 60%;
  }
}

.userHomeChangeBtn {
  grid-column: 4/5;
  grid-row: 3/4;
  background-color: #2b8c69;
  border: none;
  padding: 15px;
  border-radius: 10px;
  color: white;
  transition: all ease 1s;
  outline: none;
  &:hover {
    @include box-shadow;
    color: #1a1a1a;
  }
}

/* scss for options tab */

.changeNameEmail {
  grid-row: 2/7;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  h3 {
    display: inline;
  }
  span {
    display: inline;
  }
  button {
    border: none;
    background-color: #2b8c69;
    border: none;
    padding: 15px 60px;
    border-radius: 10px;
    color: white;
    transition: all ease 1s;
    outline: none;
    &:hover {
      @include box-shadow;
      color: #1a1a1a;
    }
  }
  input {
    outline: none;
    border: none;
    border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
    background-color: #fffafafa;
    font-size: 20px;
    width: 40%;
  }
}

.changePassword {
  grid-row: 2/4;
  grid-column: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    border: none;
    background-color: #2b8c69;
    border: none;
    padding: 15px 60px;
    border-radius: 10px;
    color: white;
    transition: all ease 1s;
    outline: none;
    &:hover {
      @include box-shadow;
      color: #1a1a1a;
    }
  }
}
