/* 
#72F2F2 light blue
#84BFB9 light gray
#25594B dark green
#30BF8B smooth green
#2B8C69 darkish green
#1a1a1a dark gray
#fffafafa almost White
#E24D42 smooth red
*/

* {
  margin: 0;
  padding: 0;
  font-family: Inter UI, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

$backgroundColorBack: #141618;
$backgroundColor: #212529;
$blueColor: #329af0;
$greenColor: #51cf66;
$orangeColor: #ff8100;
$pinkColor: rgba(204,93,232, 0.9);
$redColor: #fa5252;
$smoothRed: #E24D42;
$yellowColor: #eed202;
$smoothYellow: #eab839;

body {
  // background-color: #212529;
  // background-image: url("../../images/2773233.jpg");
  background-color: $backgroundColorBack;
}

span, p, a, h1, h2, h3, button, input, label{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin green-hover {
  transition: 1s ease all;
  &:hover {
    color: rgba($greenColor, $alpha: 0.8);
  }
}

@keyframes animateInAnimation{
  0%{opacity: 0}
  100%{opacity: 1}
}