/* 
#72F2F2 light blue
#84BFB9 light gray
#25594B dark green
#30BF8B smooth green
#2B8C69 darkish green
#1a1a1a dark gray
#fffafafa almost White
*/

* {
  margin: 0;
  padding: 0;
  font-family: Inter UI, sans-serif;
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  // background-color: #212529;
  // background-image: url("../../images/2773233.jpg");
  background-color: #141618;
}

span, p, a, h1, h2, h3, button, input, label{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin green-hover {
  transition: 1s ease all;
  &:hover {
    color: rgba($color: #51cf66, $alpha: 0.8);
  }
}
